#main {
  position: absolute;
  z-index: 1;
  width: 100%;
  pointer-events: none;
}

#headertext {
  font-family: 'Barlow', sans-serif;
  font-size: 2rem;
  color: #FFFFFF;
  letter-spacing: 0.59px;
}

#maintext {
  font-family: 'Barlow', sans-serif;
  color: #FFFFFF;
  letter-spacing: 0.33px;
  width: 40vh;
  height: 15vh;
  font-size: 1rem;
}
#ofntext {
  font-size: 3rem;
}
.boldedText {
  font-family: 'Barlow-Bold', sans-serif;
}
#landing {
  display:flex;
  justify-content: space-around;
  align-items: center;
  height: 75vh;
  width: 100%;
  pointer-events: none;

}
#menu {
  font-family: 'Barlow', sans-serif;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
}
#rightmenu {
  width: 50%;
  display: flex;
  justify-content: space-around;

}

#leftmenu {
  font-size: 1.25rem;
}

#social {
  background: #FFFFFF;
  border: 1px solid #979797;
  box-shadow: 0 2px 10px 5px rgba(0,0,0,0.26);
  border-radius: 8px;
  width: 35vh;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
}

#logotext {
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 0.37px;
}

.slackButton {
  background: #FFFFFF;
  box-shadow: 0 2px 19px 3px rgba(0,0,0,0.32);
  border-radius: 100px;
  text-align: center;
  font-family: "Barlow";
  font-size: 1rem;
  color: #010346;
  display: flex;
  align-items: center;
  margin-top:3vh;
}

.slackButtonText {
  font-family: "Barlow";
  font-size: 2rem;
  color: #010346;
}

.document {
  background: #030560;
  box-shadow: 0 2px 19px 5px rgba(0,0,0,0.24);
}

html,body{
	width:100%;
	height:100%;
	background: #030560;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

canvas{
  position: fixed;
  width: 100%;
  height:100%;
  vertical-align:top;
}

#triangleGradient {
  display: block;
  padding-top: 25vh;
  width:100%;
  position: absolute;
  pointer-events: none;
  z-index: -1;
}

#stayconnected {
  font-family: 'Barlow';
  color: #010346;

}

#emailform {
  font-family: 'Barlow';
  width: 90%;
  background: #FFFFFF;
  border: 1px solid #010346;
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#emailtext {
  font-family: 'Barlow';
  font-size: 1rem;
  color: #7E7E7E;
}

#subscribebutton {
  background: #010346;
  border-radius: 100px;
  height: 100%;
  width:40%;
  font-family: 'Barlow';
  font-size: 1rem;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

#socialbuttons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

}

.socialicon {
  padding: .5rem;
  height: 100%;
}

#docs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#documentation {
  display:flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
  pointer-events: none;
  height: 30vh;
}

.docIconContainer {
  background: #030560;
  box-shadow: 0 2px 19px 5px rgba(0,0,0,0.24);
  height: 20vh;
  width: 18vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 400vh
}

.sectionLabel {
  text-align: center;
  font-family: 'Barlow';
  font-size: 1rem;
  color: white;
}

.sectionLabelDark {
  text-align: center;
  font-family: 'Barlow';
  font-size: 1rem;
  color: #030560;
}

#industry {
  padding-top: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60vh;
}

#industryText {
  width: 25%;
  color: white;
  font-family: 'Barlow';
}

#useCases{
  height: 48vh;
  width: 100%;
  background-color: #F0F0F0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#useCaseButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1rem;
}



.useButton {
  background: #FFFFFF;
  box-shadow: 0 2px 17px 3px rgba(0,0,0,0.19);
  border-radius: 100px;
  color: #010346 100%;
  font-family: 'Barlow';
  padding: .5rem;
}

#timeline{
  height: 40vh;
  width: 100%;
  background: linear-gradient(#010346 100%, #00035E 100%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

#teampage {
  height: 120vh;
  width: 100%;
  background-color: #F0F0F0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

#futureOfFinance {
  width:100%;
  height: 50vh;
}

#gradientEnd{
  width: 100%;
  overflow: hidden;
  max-height: 60vh;
  transform: rotate(180deg);
  position: relative;
}

#fof{
  width: 22%;
  font-family: 'Barlow';
  font-size: 2rem;
  color: #FFFFFF;
  letter-spacing: 0.39px;
  z-index: 2;
  position: absolute;
  bottom: 200px;
  left: 100px;
}

#team{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
}

.teamImg {
  height: 16vh;
  width: 12vw;
  border-radius: 50%;
}

.teamText {
  font-family: "Barlow";
  font-size: 1rem;
  color: #010346;
  letter-spacing: 0.39px;
}

.teamCard {
  padding-left: 3.5vw;
  padding-right: 3.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.teamName {
  font-family: "Barlow";
  font-size: 2rem;
  color: #010346;
  letter-spacing: 0.39px;
  margin:0;
}

#ourTeam {
  text-align: center;

}

.sliding-middle-out {

	padding-bottom: 3px;
}
.sliding-middle-out:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
.sliding-middle-out:hover:after {
	width: 100%;
	background: white;
}
